.posts-list {
  margin-right: auto;
  margin-left: auto;
  width: 550px;
  list-style-type: none;
}
.post {
  box-sizing: border-box;
  display: block;
  background-color: rgb(198, 212, 212);

  margin-bottom: 20px;
  padding-top: 5px;
}

.post::after {
  transition: 0.2s;
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  background-color: rgb(30, 117, 88);
}
.post h2 {
  padding-left: 20px;
  text-transform: uppercase;
  font-size: 25px;
  font-family: monospace;
  padding-bottom: 10px;
}
.post__author-name {
  padding-left: 20px;
  display: inline;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.post__author-email {
  padding-left: 20px;
  display: inline;
  padding-left: 40px;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.post__body {
  padding-left: 20px;
  font-family: monospace;
  padding-top: 20px;
  padding-bottom: 7px;
  font-size: 17px;
}
.post__delete-btn {
  display: block;
  margin-right: 20px;
  margin-left: auto;
  background-color: rgb(20, 56, 44);
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  border: none;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
}
